@font-face {
    font-family: 'Open Sans';
    src: url(../../Assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
/* @import 'react-datepicker/dist/react-datepicker.css'; */

.booking-wrapper {
    --fixed-panel-height: 84px;
    --step-display-height: 72px;
    position: relative;
    max-width: 100%;
    width: 100%;
}

.fixed-panel {
    background-color: var(--bg-main-color);
    position: sticky;
    bottom: 0;
    padding: 10px 16px;
    height: var(--fixed-panel-height);
    box-sizing: border-box;
    z-index: 50;
}

.booking-viewport {
    min-height: calc(100vh - var(--fixed-panel-height) - var(--footer-height));
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
}
.booking-viewport-alt {
    min-height: calc(100vh - var(--fixed-panel-height) - var(--footer-height) - var(--step-display-height));
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
}

.booking-header-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.booking-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;

    margin: 0;
    padding: 0;
}

.next-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 64px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    background: linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%);
    box-shadow: 0px 15px 60px rgba(66, 130, 233, 0.45);
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.next-btn-inactive {
    opacity: 0.4;
    cursor: default;
}
.back-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    background: linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%);
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    padding: 1px;
    box-sizing: border-box;
    border: none;
}
.back-btn-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--bg-main-color);
}

.selectable-card-wrapper {
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;

    --border-width: 2px;
    padding: var(--border-width);
}
.selectable-card-wrapper-selected {
    background: linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%);
}

.selectable-card-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
    z-index: 10;
}
.city-card-wrapper {
    height: 251px;
    filter: drop-shadow(0px 0px 20px #250F5D);
}
.city-card-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.city-card-text {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(46, 54, 141, 0) 0%, #2E368D 100%);
}

.selected-mark {
    height: 64px;
    width: 64px;
    position: absolute;
    top: -32px;
    right: -32px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 7px;
    box-sizing: border-box;

    border-width: 45px 0 0 24px;
    border-color: transparent transparent transparent transparent;
    z-index: 20;
    background: #4B51EA;
    transform: rotate(45deg);
}
.selected-mark *{
    transform: rotate(-45deg);
}

.step-circle-wrapper {
    padding: 12px 16px;
    box-sizing: border-box;
    height: var(--step-display-height);
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.step-circle-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.step-circle {
    padding: 4px;
    border-radius: 50%;

    background: var(--bg-gradient);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
}
.step-circle-unselected {
    opacity: 0.4;
}

.step-circle-dash {
    width: 16px;
    height: 4px;
}

.step-circle-text {
    background: var(--bg-main-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-card-wrapper {
    height: 166px;
    padding: 2px;
}
.room-card-bg {
    background-color: #191A29;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.room-card-title {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.room-card-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.room-card-description-item {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.game-card-wrapper {
    height: 216px;
}

.game-card-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #191A29; 

}
.game-card-title {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(46, 54, 141, 0) 0%, #2E368D 100%);

    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    word-wrap: normal;
    color: #FFF;

    padding: 12px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    margin: 0;
}

.count-select-bg {
    background-color: #1F2032;
    border-radius: 15px;
    overflow: hidden;
    height: 410px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.count-select-img {
    height: 126px;
    width: auto;
}

.count-select-input-row {
    height: 126px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.count-select-input-wrapper {
    background: var(--bg-gradient);
    border-radius: 15px;
    padding: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 95px;
    overflow: hidden;
}
.count-select-input {
    width: 100%;
    height: 100%;
    background-color: #1F2032;
    
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    word-wrap: normal;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 13px;
    text-align: center;
}
.count-select-input::-webkit-outer-spin-button,
.count-select-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.count-select-input[type=number] {
    -moz-appearance: textfield;
}


.count-select-input-row-btn {
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    outline: none;
    text-align: center;

    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    word-wrap: normal;
    color: #FFF;
    cursor: pointer;
    padding: 0;
}

/* datepicker overrides */ 
.react-datepicker__header {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.react-datepicker__current-month {
    height: 25px;
    margin-bottom: 35px;
    text-transform: capitalize;
}
.react-datepicker__navigation {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2px;
    padding: 0;
    border: none;
    z-index: 1;
    height: 32px;
    width: 32px;
    text-indent: -999em;
    overflow: hidden;
}
.react-datepicker__navigation--next {
    right: 2px;
}
.react-datepicker__navigation-icon--next::before {
    transform: rotate(45deg);
    left: -7px;
}

.react-datepicker__navigation--previous {
    left: 2px;
}
.react-datepicker__navigation-icon--previous::before {
    transform: rotate(225deg);
    right: -7px;
}

.react-datepicker__navigation-icon {
    position: relative;
    top: -1px;
    font-size: 20px;
    width: 0;
}
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
    border-color: #ccc;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: "";
    display: block;
    height: 9px;
    position: absolute;
    top: -2px;
    width: 9px;
}

.react-datepicker__navigation {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2px;
    padding: 0;
    border: none;
    z-index: 1;
    height: 32px;
    width: 32px;
    text-indent: -999em;
    overflow: hidden;
}

.react-datepicker__month {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.react-datepicker__week, .react-datepicker__day-names {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.react-datepicker__day-names {
    margin-bottom: 44px;
}

.react-datepicker__day, .react-datepicker__day-name {
    width: 43px;
    height: 43px;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
}
.react-datepicker__day-name {
    height: auto;
    color: #ABAFE5;
    cursor: default;
    text-transform: uppercase;
}


.datepicker-customDay {
    width: 100%;
    height: 100%;
    background-color: #1F2032;
    padding: 6px 6px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.datepicker-window {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
}
.datepicker-customDay-selected {
    background-color: #ABAFE5;
}
.datepicker-customDay-unselectable {
    background-color: #0F0F1D;;
}

.datepicker-customDay-day {
    font-family: 'Bebas Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: #FFF;
    height: min-content;
}
.datepicker-customDay-places {
    font-family: 'Gilroy-Regular';
    font-size: 8px;
    font-weight: 600;
    letter-spacing: -0.30px;
    text-align: left;
    color: #ABAFE5;
    height: min-content;
}

.datepicker-customDay-selected .datepicker-customDay-day,
.datepicker-customDay-selected .datepicker-customDay-places {
    color: #191A29;
}

.datepicker-customDay-unselectable .datepicker-customDay-day{
    color: #828188;
}
.datepicker-customDay-unselectable .datepicker-customDay-places {
    color: #58597B;
}

.time-card-wrapper {
    height: auto;
    background-color: transparent;
}
.time-card-bg {
    background-color: #1F2032;
    padding: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.time-card-bg-selected {
    background-color: #ABAFE5;
    color: #050411;
}
.time-card-title {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.time-card-img {
    width: 20px;
    height: 20px;
}

.credentials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.credentials-input {
    background-color: #1F2032;
    padding: 13px 16px;
    width: 100%;
    height: auto;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    
    position: relative;
}

.credentials-input-icon {
    width: 20px;
    height: 20px;
}

.credentials-input-field {
    background-color: transparent;
    width: 100%;
    border: none;
    height: 100%;
    color: #FFF;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.credentials-input-field::placeholder {
    color: #ABAFE5;
}
.credentials-input-field:focus{
    outline: none;
}

.credentials-label {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.34px;
    
    color: #ABAFE5;
}
.credentials-label a {
    color: #ABAFE5;
    text-decoration-line: underline;
}
.credentials-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.credentials-checkbox {
    background-color: #1F2032;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credentials-checkbox img {
    display: none;
    user-select: none;
}
.credentials-label input:checked ~ .credentials-checkbox img {
    display: block;
}

.credentials-input-textarea {
    resize: vertical;
}

.credentials-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}
.credentials-promo-btn {
    width: 100%;
    height: auto;
    border-top: 1px solid #444656;
    border-bottom: 1px solid #444656;
    padding: 16px 4px;
    cursor: pointer;
}

.credentials-description-img {
    height: 16px;
    width: auto;
}

.credentials-bonuses-container {
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* promo modal */
.antd-modal-content, :where(.css-dev-only-do-not-override-1i9hnpv).ant-modal .ant-modal-content {
    background-color: #050411;
    color: #fff;
    border-top: 1px solid #444656;
    box-sizing: border-box;
}

.modal-promo-content {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    gap: 16px
}
.modal-promo-title {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    color: #ABAFE5;
}
.modal-promo-description {
    width: 100%;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;

    color: #ABAFE5;
}

.modal-promo-load-image {
    position: absolute;
    top: 50%;
    right: 28px;
    margin-top: -16px;
    margin-right: -14px;
    width: 28px;
    height: 28px;   
    padding: 2px 0 2px 2px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    /* box-sizing: border-box; */
    animation: spin 2s linear infinite;
    /* background-color: #fff;
    border-radius: 50%; */
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.modal-promo-error-input{
    outline: 2px solid #EE6E7E;
}
.modal-promo-success-input{
    outline: 2px solid #30A5D1;
}

.modal-promo-err-block {
    width: 100%;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #EE6E7E;
}

.modal-promo-footer{
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
}
.modal-promo-btn {
    width: 100%;
    height: 64px;
    color: #FFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background: linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 15px;
}