@font-face {
    font-family: 'Open Sans';
    src: url(../../Assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.next-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 64px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    background: linear-gradient(90deg, #36C0E7 6.68%, #4B51EA 84.84%, #4B51EA 87.36%);
    box-shadow: 0px 15px 60px rgba(66, 130, 233, 0.45);
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.next-btn-inactive {
    opacity: 0.4;
    cursor: default;
}

.form-field {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  
  background-color: #1F2032;
  padding: 13px 16px;
  width: 100%;
  height: auto;
  min-height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
  
  position: relative;
}
.form-field-input {
  background-color: transparent;
  width: 100%;
  border: none;
  height: 100%;
  color: #FFF;
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.form-field-input::placeholder {
  color: #ABAFE5;
}
.form-field-input:focus {
  outline: none;
}

.form-field-icon {
  height: 20px;
  width: 20px;
}
.form-error {
    width: 100%;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #EE6E7E;
    text-align: left;
    margin-bottom: -8px;
    padding-left: 12px;
}

.form-label {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.34px;
    
    color: #ABAFE5;
}
.form-label a {
    color: #ABAFE5;
    text-decoration-line: underline;
}
.form-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form-checkbox {
    background-color: #1F2032;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-checkbox img {
    display: none;
    user-select: none;
}
.form-label input:checked ~ .form-checkbox img {
    display: block;
}
.form-label input:focus ~ .form-checkbox   {
    outline: 1px solid #FFF;
}

.form-input-textarea {
    resize: vertical;
}


.game-card-wrapper {
    height: 216px;
}

.game-card-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #191A29; 

}
.game-card-title {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(46, 54, 141, 0) 0%, #2E368D 100%);

    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    word-wrap: normal;
    color: #FFF;

    padding: 12px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    margin: 0;
}

.city-select-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.city-select-row {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    word-wrap: normal;
    text-align: center;
    color: #ABAFE5;
    cursor: pointer;
}

.city-select-row-selected {
    cursor: default;
    color: #FFF;
}

.city-select-no-available {
    font-family: 'Gilroy-Regular';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    word-wrap: normal;
    text-align: center;
    color: #444656;
}